# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
*.csv
*.tsv
*.xls
*.xlsx
*.h5
*.db

# Environment files
.env
.venv/
env/
venv/

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Python virtual environment
*.egg-info/
.eggs/

# Misc
*.bak
*.swp